.form__section {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  color: white;
}

.search__buton {
  margin-left: 1rem;
  color: #1E90FF;
  background: white;
  height: 3rem;
  font-weight: bold;
}

.input__search {
  color: white !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white !important;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white !important;
}
